.tabs {
  list-style-type: none;
}

.tabs__element {
  width: 240px;
  height: 42px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  padding: 12px;
  margin: 0;
  user-select: none;
  color: rgba(57, 65, 75, 1);
}
